<form class="form">
  <mat-form-field appearance="fill">
    <input
      #searchBox
      id="search-box"
      (input)="searchProduct(searchBox.value)"
      type="search"
      matInput
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>

<div class="product-container" *ngIf="!loading; else skeleton">
  <app-product-card
    *ngFor="let product of products"
    [product]="product"
  ></app-product-card>
</div>
<ng-template #skeleton>
  <div class="product-container">
    <app-product-card-skeleton
      *ngFor="let key of [1, 2, 3, 4, 5]"
    ></app-product-card-skeleton>
  </div>
</ng-template>
<div *ngIf="products.length !== 0 && metadata.page_count !== 1">
  <app-pagination [metadata]="metadata" model="product"></app-pagination>
</div>
