<form [formGroup]="form" (submit)="register()" class="centered">
  <h1>Register</h1>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your username</mat-label>
      <input matInput required formControlName="username" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput required formControlName="password" type="password" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your first name</mat-label>
      <input matInput required formControlName="firstName" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your last name</mat-label>
      <input matInput required formControlName="lastName" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email address</mat-label>
      <input matInput required formControlName="emailAddress" type="email" />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">Register</button>
</form>
