<mat-card class="product-card" *ngIf="product" (click)="onClick(product.slug)">
  <div class="mat-picture">
    <img mat-card-image [src]="product.pictures[0]" [alt]="product.title" />
  </div>
  <mat-card-content>
    <mat-card-title class="title">{{
      product.title | shorten: 50
    }}</mat-card-title>
    <span class="price">{{ product.price }}€</span>
  </mat-card-content>
</mat-card>
