@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

.product-card {
  max-width: 250px;
  height: 350px;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  cursor: pointer;
  font-family: "Inconsolata", monospace;
}

.content {
  display: flex;
  justify-content: space-between;
}

.mat-picture {
  margin-top: 1rem;
  padding: 1.5rem;
}

.title {
  color: #6f7476;
}
.price {
  color: #828d9b;
}
