<div class="centered">
  <h1>Login</h1>
  <form [formGroup]="form" (submit)="login()">
    <img src="assets/avatar.svg" alt="" srcset="" width="150px" />
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter your username</mat-label>
        <input matInput type="text" required formControlName="username" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          required
          formControlName="password"
        />
        <div
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          class="cursor-pointer"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </div>
      </mat-form-field>
      <div class="">
        <a href="">password forgotten</a>
      </div>
    </div>

    <div>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
  <button
    mat-raised-button
    color="accent"
    style="margin-top: 1rem"
    (click)="register()"
  >
    Register
  </button>
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
