img {
  object-fit: cover;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.container {
  width: 175px;
  height: 175px;
  margin-bottom: 2rem;
}

.centered {
  position: relative;
  text-align: center;
  margin: -90px;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.icon-photo {
  color: white;
  cursor: pointer;
}
