<h2 mat-dialog-title>Edit profile</h2>

<div class="container">
  <img [src]="avatarUrl" alt="Avatar" />
  <div class="centered">
    <label for="upload-photo">
      <mat-icon class="icon-photo">camera_alt</mat-icon>
    </label>
    <input
      type="file"
      accept="image/*"
      name="file"
      name="photo"
      id="upload-photo"
      (change)="handleFileInput($event)"
    />
  </div>
</div>
<form [formGroup]="form">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" required="true" formControlName="username" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" required="true" formControlName="email" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Firstname</mat-label>
      <input matInput type="text" required="true" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Lastname</mat-label>
      <input matInput type="text" required="true" formControlName="lastName" />
    </mat-form-field>
  </div>
  <div>
    <h2>Address</h2>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput type="text" required="true" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>PostCode</mat-label>
        <input matInput type="text" required="true" />
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput type="text" required="true" />
    </mat-form-field>
  </div>
</form>
<mat-dialog-actions align="center">
  <button mat-button (click)="save()">Save</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
