/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr-1 {
  margin-right: 1rem;
}

.centered {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}
