@import "~@angular/material/theming";
@include mat-core();

$my-primary-palette: (
  50: #e8ece9,
  100: #c5cfc8,
  200: #9eafa3,
  300: #778f7e,
  400: #597762,
  500: #3c5f46,
  600: #36573f,
  700: #2e4d37,
  800: #27432f,
  900: #1a3220,
  A100: #76ff97,
  A200: #43ff70,
  A400: #10ff49,
  A700: #00f63a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-secondary-palette: (
  50: #f9f8f9,
  100: #f1efef,
  200: #e8e4e4,
  300: #ded9d9,
  400: #d7d0d1,
  500: #d0c8c9,
  600: #cbc2c3,
  700: #c4bbbc,
  800: #beb4b5,
  900: #b3a7a9,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fffbfb,
  A700: #ffe1e6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat-palette($my-primary-palette);
$secondary: mat-palette($my-secondary-palette);

$my-theme: mat-light-theme($primary, $secondary);
@include angular-material-theme($my-theme);
