.product-card {
  max-width: 250px;
  height: 350px;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.content {
  display: flex;
  justify-content: space-between;
}

.mat-picture {
  padding: 1.5rem;
}
