<div>
  <mat-card class="product-card">
    <div class="mat-picture">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{
          'border-radius': '0px',
          height: '200px',
          width: '200px'
        }"
      ></ngx-skeleton-loader>
    </div>
    <mat-card-content>
      <mat-card-title class="title">
        <ngx-skeleton-loader></ngx-skeleton-loader>
        <ngx-skeleton-loader></ngx-skeleton-loader>
      </mat-card-title>
      <ngx-skeleton-loader
        [theme]="{
          width: '75px'
        }"
      ></ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>
</div>
