<nav>
  <mat-toolbar color="primary">
    <span class="main-title"><a [routerLink]="['/']" >My App</a> </span>

    <span class="spacer"></span>

    <mat-icon matBadge="15" matBadgeColor="warn" color="accent" class="mr-1">
      shopping_cart
    </mat-icon>

    <div *ngIf="user; else login">
      <mat-card style="display: none"> </mat-card>
      <div class="dropdown">
        <img
          class="avatar"
          mat-card-avatar
          mat-button
          [matMenuTriggerFor]="menu"
          [src]="avatarUrl"
        />
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/user/profile']">
            <mat-icon>visibility</mat-icon> Profile
          </button>
          <button mat-menu-item (click)="logout()" aria-label="Logout icon">
            <mat-icon>supervisor_account</mat-icon> Admin
          </button>
          <button mat-menu-item (click)="logout()" aria-label="Logout icon">
            <mat-icon>logout</mat-icon> Logout
          </button>
        </mat-menu>
      </div>
    </div>
    <ng-template #login>
      <span>
        <button mat-icon-button [routerLink]="['/login']" aria-label="Menu icon">
          <mat-icon color="accent">login</mat-icon>
        </button>
      </span>
    </ng-template>
  </mat-toolbar>
</nav>
