@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap");
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 1rem;
}

.pagination a {
  float: left;
}

.pagination-number {
  font-family: "Yuji Syuku", serif;
  color: black;
  padding: 8px 14px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 4px;
}

.pagination-number.active {
  border: 1px solid #ddd;
  border-radius: 100%;
  border: 3px solid #3c5f46;
}

.pagination-number:hover:not(.active) {
  border-radius: 100%;
  border: 1px solid #3c5f46;
}

.icon-pagination {
  margin-bottom: -1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
