<div class="center">
  <div class="pagination">
    <a
      [routerLink]="['/' + model]"
      [queryParams]="{ page: metadata.page !== 1 ? metadata.page - 1 : 1 }"
    >
      <img
        src="/assets/up-arrow.png"
        alt="previous"
        class="icon-pagination rotate270"
      />
    </a>
    <a
      class="pagination-number"
      [ngClass]="{ active: metadata.page === item }"
      *ngFor="let item of paginationTab"
      [routerLink]="['/' + model]"
      [queryParams]="{ page: item }"
    >
      {{ item }}
    </a>
    <a
      [routerLink]="['/' + model]"
      [queryParams]="{
        page:
          metadata.page !== metadata.page_count
            ? metadata.page + 1
            : metadata.page
      }"
    >
      <img
        src="/assets/up-arrow.png"
        alt="next"
        class="icon-pagination rotate90"
      />
    </a>
  </div>
</div>
